<ol type="a">
	<li><a href="/a">歌曲共包含哪幾種不同語言</a></li>
	<li><a href="/b">唱過台語歌的歌星</a></li>
	<li><a href="/c">伍佰所唱的台語歌</a></li>
	<li><a href="/d">伍佰所唱的國語歌的總數</a></li>
	<li><a href="/e">唱過台語歌曲的女藝人及所唱的台語歌</a></li>
	<li><a href="/f">張宇所唱的國語歌及其 Midi 檔案的路徑</a></li>
	<li><a href="/g">張宇所唱的國語歌的 Midi 檔案的總數</a></li>
	<li><a href="/h">歌曲共包含幾種不同語言</a></li>
	<li><a href="/i">Song 中重複的歌名</a></li>
	<li><a href="/j">有歌名卻沒有 Midi 檔的歌曲資料（提示：此題會用到 Outer Join</a></li>
	<li><a href="/k">歌曲中有『愛』、『恨』者</a></li>
</ol>